{% extends "::base.html.twig" %}

{% block title %}Diamond Recruiter - View Contact{% endblock %}
{% block page_title %}Contact{% endblock %}

{% block body %}
    <h1>Welcome to the Contact:view page</h1>
{% endblock %}
