{% extends "::error.html.twig" %}

{% block title %}Diamond Recruiter - Error{% endblock %}
{% block page_title %}Error{% endblock %}

{% block body %}

    <div class="ex-page-content animated text-center">
        <h1>403</h1>
        <h2 class="font-light">The account being accessed does not have sufficient permissions to execute this operation.</h2><br>
        <br>
        <a class="btn btn-success" href="{{ path('diamond_index', {tenant:app.user.tenant.name}) }}"><i class="fa fa-angle-left"></i> Back to Dashboard</a>
    </div>

{% endblock %}