{% extends "::error.html.twig" %}

{% block title %}Diamond Recruiter - Error{% endblock %}
{% block page_title %}Error{% endblock %}

{% block body %}

    <div class="ex-page-content animated text-center">
        <h1>403</h1>
        <h2 class="font-light">User does not belong to a tenant. Please contact support.</h2><br>
    </div>

{% endblock %}