{% extends "::base.html.twig" %}

{% block title %}Diamond Recruiter - Create Tenant{% endblock %}
{% block page_title %}Create New Tenant{% endblock %}

{% block body %}


    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    {{ form(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
